<div class="ui page grid">
  <div class="five wide column">
    <div class="ui segment">
      <div class="ui fluid search">
        <div class="ui fluid icon input">
          <input class="prompt" type="text" placeholder="Search Course">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <div class="ui list" id="course-list">
        <% current_user.courses.each do |c| %>
          <p class="item">
            <%= c.name %>
            <a href="#" data-course-id="<%= c.id %>" class="delete-course">
              <i class="icon trash"></i>
            </a>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="eleven wide column">
    <div class="ui list" id="timeline-list">
    </div>
    <a href="#" class="timeline-next">Loading...</a>
  </div>
</div>
