<div class="ui page grid">
  <div class="five wide column">
    <div class="ui segment">
      <div class="ui top attached label">
        <i class="user icon"></i>
        <span style="font-size:15px"><%= current_user.email %></span>
      </div>
      <div class="ui fluid search">
        <div class="ui fluid icon input">
          <input id="search_box" class="prompt" type="text" placeholder="Search Course">
          <i class="search icon"></i>
        </div>
        <div class="results"></div>
      </div>
      <div class="ui list" id="course-list">
        <% current_user.courses.each do |c| %>
          <p class="item">
            <%= c.name %>
            <a href="#" data-course-id="<%= c.id %>" class="delete-course">
              <i class="icon trash"></i>
            </a>
          </p>
        <% end %>
      </div>
    </div>
    <!-- temporary implementation -->
      <div class="ui center aligned segment">
        <h2 class="ui icon header">
          <i class="huge browser icon"></i>
        <div class="content">
          Courses Timeline
          <div class="sub header">
            use courses timeline services.
          </div>
        </div>
      </div>
      <div class="ui center aligned segment">
        <h2 class="ui icon header">
          <i class="huge calendar icon"></i>
        <div class="content">
          Shared Calendar
          <div class="sub header">
            use shared calendar services.
          </div>
        </div>
      </div>
    <!-- temporary implementation -->
  </div>
  <div class="eleven wide column">
    <div class="ui list" id="timeline-list">
    </div>
    <a href="#" class="timeline-next">Loading...</a>
  </div>
</div>

