table.calendar{
  td {
    width: 14.2857% !important;
  }
  th {
    text-align: center;
  }
  tr {
    td:first-child, th:first-child {
      color: red;
    }
    td:last-child, th:last-child {
      color: blue;
    }
  }
  tbody td{
    height: 7.5em;
    vertical-align: top !important;
  }
}

span.calendar_side{
  color: #b1b1b1;
}

span.calendar_center{
  font-size: 120%;
}
