// Place all the styles related to the schedule controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#modal-add-button{
  background-color: #c0f0c0;
};

#modal-close-button{
  background-color: #f0c0c0;
}

#modal .content {
  table td {
    word-break: break-all;
  }
}
